{{>authHeader}}
<form class="loginform" action="/login" method="POST">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <fieldset class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" required>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
      </fieldset>
    </div>
  </div>
  <button type="submit" name="button" class="btn btn-default">Submit</button>
</form>
{{>authFooter}}
