### node etc ###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

## Compiled files ##
compiled
server-dist

## NPM ##
node_modules/

## API KEYS ##
auth/fb.js
config

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
