body {
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 14%;
  bottom: 0;
  width: 100%;
}

img {
  height: 100px;
  width: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #7ba;
}
/* General sidebar styles */
.bm-menu {
  background: rgba(240,95,64,0.8);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow-y: scroll;
}
.leaflet-popup-content {
  color:white;
  background-color: #7ba;
  
}
.bm-menu-wrap {
  position: absolute;
  top: 100px;
  right: 100;
}

.btn {
  margin: 9px 15px;
}

nav.navbar {
  margin-bottom: 0;
  height: 70px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
}

.navbarSearch {
  width: 200px;
  /*height: 30px;*/
  font-size:19px;
  margin-left: 30px;
}
#starEmpty {
  height: 30px;
  width: auto;
  margin-top: 5px;
  padding-top: 5px;
}

#wishImage {
  height: 30px;
  width: auto;
  margin-top: 5px;
  padding-top: 5px;
}

.btn.search {
  background-color: #F05F40;
  color: white;
}

.ourNav {
  background-image: url('../img/mapheader.jpeg');
  background-repeat: cover;
}

.btn-primary {
  border: none;
}

.navbar.ourNav {
  height: 100px;
}

.row.bar {
  margin-top: 17px;
}

.thumbsuppp{
background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcREZwX6K9I9YN6qi0cY__zDwqCZ4baaqA9MkzObv_1xD3VoL__aA5SkDQ');
color:red;
background-color: red;
}

.thumbsdown{


}
