body {
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
}

img {
  height: 100px;
  width: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #87b;
}

/* General sidebar styles */
.bm-menu {
  background: #87b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow-y: scroll;
}

.bm-menu-wrap {
  position: absolute;
  top: 68px;
  right: 0;
}

.btn {
  margin: 9px 30px;
}

nav.navbar {
  margin-bottom: 0;
  border-bottom: 5px solid #87b;
  height: 70px;
}
