body {
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 12%;
  bottom: 0;
  width: 100%;
}

img {
  height: 100px;
  width: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #7ba;
}
/* General sidebar styles */
.bm-menu {
  background: #7ba;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow-y: scroll;
}

.bm-menu-wrap {
  position: absolute;
  top: 100px;
  right: 100;
}

.btn {
  margin: 9px 30px;
}

nav.navbar {
  margin-bottom: 0;
  height: 70px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius:10%;
}

input {
width: 152px;
height: 44px;
border-radius:10%;
font-size:19px;


}
#starEmpty {
  height: 30px;
  width: auto;
  margin-top: 5px;
  padding-top: 5px;
}

#wishImage {
  height: 30px;
  width: auto;
  marigin-top: 5px;
  padding-top: 5px;
}
