<header>
  <div class="header-content">
    <div class="header-content-inner">
      <p class="error">
        {{ errMsg }}
      </p>
      <p>
        Log in below:
      </p>
      <form class="signupform" action="/signup" method="POST">
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <fieldset class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Example input">
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <form>
              <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Another input">
              </fieldset>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <form>
              <fieldset class="form-group">
                <label for="passconfirm">Confirm Your Password</label>
                <input type="passconfirm" class="form-control" id="passconfirm" placeholder="Another input">
              </fieldset>
            </form>
          </div>
        </div>
        <div class="row">
          <a href="/facebook/auth"><i class="fa fa-facebook" aria-hidden="true">Login with facebook</i></a>
        </div>
        <p>
          Already have an account? <a href="/login">Sign in!</a>
        </p>
    </div>
  </div>
</header>
