{{>authHeader}}
<form class="signupform" action="/signup" method="POST">
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Example input">
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Another input">
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
      <fieldset class="form-group">
        <label for="passconfirm">Confirm Your Password</label>
        <input type="passconfirm" class="form-control" id="passconfirm" placeholder="Another input">
      </fieldset>
  </div>
</div>
<button type="submit" name="button" class="btn btn-default">Submit</button>
{{>authFooter}}
