<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HotSpots</title>
</head>
<body>
  <div>file for testing server</div>
  <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button> -->
  <a href="/auth/facebook">Facebook</a>
  <script>
    function statusChangeCallback(response) {
      console.log(response);
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '312037755796098',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));


</script>
</body>
</html>
